.about-section {
  padding: 4rem 2rem;
  background: #eeebe5;
  color: #0f172a;
  text-align: center;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-section p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}
